<div class="container-fluid">
  <form *ngIf="resourceForm" [formGroup]="resourceForm">
    <div class="form-group">
      <span class="required-field">
        * <span translate>ADMIN.COMMON.REQUIRED_FIELDS</span></span
      >
      <div class="card bg-white shadow-sm p-4 mt-3">
        <h4 class="font-weight-medium" translate>
          ADMIN.SHIPPING_METHOD_EDIT.DETAILS
        </h4>
        <div class="form-group">
          <label for="id" translate>ADMIN.SHIPPING_METHOD_EDIT.ID <span class="required-field">*</span></label>
          <input
            type="text"
            class="form-control"
            id="id"
            maxlength="100"
            aria-describedby="ID"
            formControlName="ID"
            (input)="updateResourceFromEvent($event, 'id')"
            placeholder="Enter ID"
          />
        </div>
        <div class="form-group">
          <label for="Name" translate>ADMIN.SHIPPING_METHOD_EDIT.NAME <span class="required-field">*</span></label>
          <input
            type="text"
            class="form-control"
            id="Name"
            maxlength="100"
            aria-describedby="Name"
            formControlName="Name"
            (input)="updateResourceFromEvent($event, 'Name')"
            placeholder="Enter Name"
          />
        </div>
        <div class="form-group">
          <label for="Description" translate>ADMIN.SHIPPING_METHOD_EDIT.DESCRIPTION</label>
          <input
            type="text"
            class="form-control"
            id="Description"
            maxlength="100"
            aria-describedby="Description"
            formControlName="Description"
            (input)="updateResourceFromEvent($event, 'Description')"
            placeholder="Enter Description"
          />
        </div>
        <div class="form-group">
          <p class="mb-1" translate>ADMIN.SHIPPING_METHOD_EDIT.ACTIVE</p>
          <label class="switch mb-0" for="Active">
            <input
              type="checkbox"
              class="form-check-input"
              id="Active"
              showErrors
              [resourceForm]="resourceForm"
              aria-describedby="Active"
              formControlName="Active"
              (change)="updateResourceFromEvent($event, 'Active')"
            />
            <span class="slider round cursor-pointer"></span>
          </label>
        </div>
        <div class="form-group">
          <label for="EstimatedTransitDays" translate>ADMIN.SHIPPING_METHOD_EDIT.TRANSIT_DAYS</label>
          <input
            type="number"
            class="form-control"
            id="EstimatedTransitDays"
            aria-describedby="EstimatedTransitDays"
            formControlName="EstimatedTransitDays"
            (input)="updateResourceFromEvent($event, 'EstimatedTransitDays')"
            placeholder="Enter Estimated Transit Days"
          />
        </div>
        <div class="form-group">
          <label for="Currency" translate>ADMIN.SHIPPING_METHOD_EDIT.CURRENCY <span class="required-field">*</span></label>
          <select class="form-control" id="Currency" formControlName="Currency"
              (change)="updateResourceFromEvent($event, 'Currency')">
              <option *ngFor="let currency of availableCurrencies" [value]="currency.Currency">
                <img [src]="currency.Icon" /> {{ currency.Name }}
              </option>
            </select>
        </div>
        <div class="form-group">
          <label for="Storefront" translate>ADMIN.SHIPPING_METHOD_EDIT.STOREFRONT <span class="required-field">*</span>&nbsp;
            <small>
              <fa-icon
                [icon]="faQuestionCircle"
                ngbTooltip="{{
                  'ADMIN.SHIPPING_METHOD_EDIT.STOREFRONT_TOOLTIP' | translate
                }}"
              ></fa-icon>
            </small>
          </label>
          <input
            type="text"
            class="form-control"
            id="Storefront"
            maxlength="100"
            showErrors
            aria-describedby="Storefront"
            formControlName="Storefront"
            [ngbTypeahead]="searchApiClients"
            [inputFormatter]="appName"
            [resultFormatter]="appName"
            (change)="updateResourceFromEvent($event, 'Storefront')"
            (selectItem)="selectApiClient($event)"
            placeholder="{{ 'ADMIN.SHIPPING_METHOD_EDIT.STOREFRONT' | translate }}"
            [editable]="false"
          />
          <small *ngIf="searching" class="form-text text-muted"
            >ADMIN.SHIPPING_METHOD_EDIT.SEARCHING</small
          >
        </div>
      </div>
      <div class="card bg-white shadow-sm p-4 mt-3">
        <h4 class="font-weight-medium" translate>
          ADMIN.SHIPPING_METHOD_EDIT.SHIPPING_COSTS
        </h4>
        <shipping-cost-editor
          [shippingMethodForm]="resourceForm"
          [shippingMethod]="shippingMethod"
          [currency]="selectedCurrency"
          (shippingCostsUpdated)="updateShippingCosts($event)"
        >
        </shipping-cost-editor>
      </div>
      <div class="card bg-white shadow-sm p-4 mt-3">
        <h4 translate>ADMIN.SHIPPING_METHOD_EDIT.INCLUDED_PRODUCTS&nbsp;
          <small>
            <fa-icon
              [icon]="faQuestionCircle"
              ngbTooltip="{{
                'ADMIN.SHIPPING_METHOD_EDIT.INCLUDED_PRODUCTS_TOOLTIP' | translate
              }}"
            ></fa-icon>
          </small>
        </h4>
        <ng-container>
          <div
            id="includedProductsCollapse"
            aria-label="parent resource dropdown"
          >
            <search-component
              class="mr-3 w-100"
              id="included-product-search"
              [placeholderText]="''"
              [searchTermInput]="includedProductSearchTerm"
              (searched)="searchedProducts($event)"
            >
            </search-component>
            <perfect-scrollbar
              class="
                dropdown-ps
                product-search-area
                border border-light
                shadow-sm
              "
              (psYReachEnd)="handleScrollEnd($event)"
            >
              <button
                type="button"
                ngbDropdownItem
                *ngFor="let resource of products | async"
                (click)="addSKU(resource.ID)"
                [disabled]="alreadySelected(resource.ID)"
                aria-label="select your SKU"
              >
                <div class="overflow-hidden">
                  <summary-resource-display-component
                    [resource]="resource"
                    [resourceType]="'products'"
                  >
                  </summary-resource-display-component>
                </div>
              </button>
              <p
                class="mb-0"
                *ngIf="!products?.value?.length && includedProductSearchTerm"
                ngbDropdownItem
                disabled
                translate
              >
                ADMIN.SHIPPING_METHOD_EDIT.NO_RESULTS
              </p>
            </perfect-scrollbar>
          </div>
          <div class="chip-bag">
            <div
              class="chip chip-sm"
              *ngFor="let sku of shippingMethod.IncludedProductIDs"
            >
              {{ sku }}
              <fa-icon
                (click)="removeSku(sku)"
                [icon]="faTimesCircle"
              ></fa-icon>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="card bg-white shadow-sm p-4 mt-3">
        <h4 translate>ADMIN.SHIPPING_METHOD_EDIT.EXCLUDED_PRODUCTS&nbsp;
          <small>
            <fa-icon
              [icon]="faQuestionCircle"
              ngbTooltip="{{
                'ADMIN.SHIPPING_METHOD_EDIT.EXCLUDED_PRODUCTS_TOOLTIP' | translate
              }}"
            ></fa-icon>
          </small>
        </h4>
        <ng-container>
          <div
            id="excludedProductsCollapse"
            aria-label="parent resource dropdown"
          >
            <search-component
              class="mr-3 w-100"
              id="excluded-product-search"
              [placeholderText]="''"
              [searchTermInput]="excludedProductSearchTerm"
              (searched)="searchedExcludedProducts($event)"
            >
            </search-component>
            <perfect-scrollbar
              class="
                dropdown-ps
                product-search-area
                border border-light
                shadow-sm
              "
              (psYReachEnd)="handleExcludedScrollEnd($event)"
            >
              <button
                type="button"
                ngbDropdownItem
                *ngFor="let resource of excludedProducts | async"
                (click)="addExcludedSKU(resource.ID)"
                [disabled]="excludedAlreadySelected(resource.ID)"
                aria-label="select your SKU"
              >
                <div class="overflow-hidden">
                  <summary-resource-display-component
                    [resource]="resource"
                    [resourceType]="'products'"
                  >
                  </summary-resource-display-component>
                </div>
              </button>
              <p
                class="mb-0"
                *ngIf="!excludedProducts?.value?.length && excludedProductSearchTerm"
                ngbDropdownItem
                disabled
                translate
              >
                ADMIN.SHIPPING_METHOD_EDIT.NO_RESULTS
              </p>
            </perfect-scrollbar>
          </div>
          <div class="chip-bag">
            <div
              class="chip chip-sm"
              *ngFor="let sku of shippingMethod.ExcludedProductIDs"
            >
              {{ sku }}
              <fa-icon
                (click)="removeExcludedSku(sku)"
                [icon]="faTimesCircle"
              ></fa-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>
