<div class="card bg-white shadow-sm p-4 mt-3">
  <h4 translate>ADMIN.SHIPPING_METHOD_EDIT.INCLUDED_PRODUCTS&nbsp;
    <small>
      <fa-icon
        [icon]="faQuestionCircle"
        ngbTooltip="{{
          'ADMIN.SHIPPING_METHOD_EDIT.INCLUDED_PRODUCTS_TOOLTIP' | translate
        }}"
      ></fa-icon>
    </small>
  </h4>
  <ng-container>
    <div
      id="includedProductsCollapse"
      aria-label="parent resource dropdown"
    >
      <search-component
        class="mr-3 w-100"
        id="included-product-search"
        [placeholderText]="''"
        [searchTermInput]="includedProductSearchTerm"
        (searched)="searchedProducts($event)"
      >
      </search-component>
      <perfect-scrollbar
        class="
          dropdown-ps
          product-search-area
          border border-light
          shadow-sm
        "
        (psYReachEnd)="handleScrollEnd($event, true)"
      >
        <button
          type="button"
          ngbDropdownItem
          *ngFor="let resource of products | async"
          (click)="addSKU(resource.ID)"
          [disabled]="alreadySelected(resource.ID)"
          aria-label="select your SKU"
        >
          <div class="overflow-hidden">
            <summary-resource-display-component
              [resource]="resource"
              [resourceType]="'products'"
            >
            </summary-resource-display-component>
          </div>
        </button>
        <p
          class="mb-0"
          *ngIf="!products?.value?.length && includedProductSearchTerm"
          ngbDropdownItem
          disabled
          translate
        >
          ADMIN.SHIPPING_METHOD_EDIT.NO_RESULTS
        </p>
      </perfect-scrollbar>
    </div>
    <div class="chip-bag">
      <div
        class="chip chip-sm"
        *ngFor="let sku of shippingMethod.IncludedProductIDs"
      >
        {{ sku }}
        <fa-icon
          (click)="removeSku(sku)"
          [icon]="faTimesCircle"
        ></fa-icon>
      </div>
    </div>
  </ng-container>
</div>